@import 'variables';
@import 'buttons';
@import 'cards';
@import 'footer';
@import 'hero';
@import 'nav';

.wholepage {
display: flex;
flex-direction: column;
justify-content: center;
}

.mainlogo {
    width: 25vw;
    margin-right: 4vw;
}

.festivimg {
    width: 80vw;
    height: 20vw;
    margin: auto;
}

.headings {
    font-size: 5vw;
    width: 100%;
    text-align: center;
    margin: auto;
    color: rgb(4, 4, 4);

}

.artist {
    font-size: 3vw;
    text-indent: 0.5em;
    color: white;
    background-color: black;
}

.artistimg {
    width: 50%;
}
.preformcard {
    display: flex;
    width: 50vw;
    margin: auto;
    margin-top: 3vw;
    align-content: center;
    justify-content: center;
    border-radius: 10%;
    background-color: rgb(135, 169, 145);
}

.prefwrapper {
    margin: auto;
    padding: 30px;
    margin: 5vw;
    background-color: $primary-color;
    border-radius: 10%;
}

.day {
    font-size: 3vw;
    color: rgb(195, 213, 195);
    background-color: black;
    width: 50%;
}

.schedule {
    display: flex;
    flex-direction: column;
}

.scheditem {
    font-size: 2vw;
    padding-left: 3vw;
}



.sponsorwrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 5vw;
    margin-bottom: 3vw;
    margin-top: 3vw;
    background-color: $primary-color;
    width: 90vw;
    border-radius: 10%;
}

.sponsimg {
    width: 100px;
    height: 100px;
}

.sponsorp {
    font-size: 2vw;
    padding: 3vw;
    text-align: center;
}

.socialcontain {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.socialogo {
    height: 50px;
}




            /* Hamburger nav  */
            .hidden {
                visibility: hidden;
            }
        
           #hamnav {
             position: relative;
            }
        
            #hamitems a {
              box-sizing: border-box;
              text-align: center;
              display: block;
              width: 100%;
              padding: 10px;
              text-decoration: none;
              color: rgb(28, 26, 26);
              background: rgb(99, 149, 109, 0.5);
            }
           
            /* (B) SHOW HAMBURGER ICON */
            #hamnav label { 
              color: rgb(131, 125, 125);
              background:  transparent;
              font-style: normal;
              font-size: 1.2em;
              padding: 10px;
            }
          
            /* (C) TOGGLE SHOW/HIDE MENU */
            #hamitems { display: none; }
            #hamnav input:checked ~ #hamitems { display: block; }
        
         
              /*hide ham for larger browsers*/
              
  @media only screen and (min-width:652px) {
    #hamnav, #hamitems {
        display: none;
    }
  }
  
  @media only screen and (max-width:651px) {
    .main-nav {
        display: none;
    }
  }