@import 'variables';

.main-card {
    display: flex;
    margin: 30px;
    gap: 1vw;
    padding: 20px;
    width: 60vw;
    border-radius: 10%;
    

    &.column {
        flex-direction: column;
        background-color: $primary-color;
    }

    &.row {
        flex-direction: row;
        background-color: $primary-color;
    }

    &.reverse {
        background-color: $primary-color;
    }

 

}

    .card-p {
        font-size: 2vw;
        margin: 10px;
    }


   .card-img {
    align-items: center;
    width: 20vw;
    height: 20vw;
    margin: 0.5vw;
}


    .card-btn {
        font-size: 2vw;
        height: 5vw;
        background-color: rgb(104, 93, 127);
        color: white;
    }