.main-hero-container {
    position: relative;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-hero-img {
    width: 90vw;
    z-index: -1;
    margin: auto;
}



.quo {
    position: relative;
    font-size: 5vw;
    color: rgb(181, 211, 184);
}




.content-right {
    position: absolute;
    font-family:fantasy;
    font-size: 3.5vw;
    top: 60%;
    left: 23%;                                   /* This class makes the paragraph align right */
    color: rgb(199, 232, 202);
    z-index: 1;
}

