     /* main black nav */
      
      /* edit the flex container along with border here */
      .main-nav {
        display: flex;
        width: 80vw;
        gap: 1vw;
        align-content: center;
        justify-content: center;
        padding: 20px 100px;
        border-bottom: 8px solid;
        background-color:$primary-color;
        margin: auto;
        margin-bottom: 50px;
    }

    /* edit button shape, size and color here */
    .nav-btn {
        width: 50vw;
        background-color: rgb(8, 8, 8);
        border: 1px solid rgb(108, 100, 141);
        
    }

    /* edit hovering capabilities here - background color and animation */
    .nav-btn:hover {
        background-color: rgb(108, 100, 141);
        transform: translate(0%, -10%);
    }

    .nav-btn:active {
        background-color: black;
    }


    /* edit text and link size here */
    .nav-lnk {
        
        color: rgb(231, 240, 223);
        text-decoration:none;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.9vw;
        
    }

