.main-hero-container {
    position: relative;
    text-align: center;
}
.main-hero-img {
    width: 100vw;
    z-index: -1;
}

.main-hero-p {
    position: absolute;
    font-size: 3vw;
    top: 40%;
    left: 5%;
    color: rgb(255, 255, 255);
    z-index: 1;
}