

/* This is my main button style, this is where you can change
 color, shadow, size and other general style things. */

 .btn {
    margin: 20px;
    padding: 15px;
    color: white;
    border: none;
    background-color: rgb(237, 159, 226);
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    cursor: grab;
}

.btn.shadow {
    box-shadow: rgb(98, 46, 93) -3px 2px 3px;
}

.btn.hallow {
    background-color: white;
    color: rgb(237, 159, 226);
    border: solid 2px rgb(237, 159, 226);
}

.btn.rounded {
    border-radius: 50%;
}

.btn:hover {
    background-color: rgb(170, 105, 156);
    padding: 20px;
}

.btn:active {
    background-color: rgb(134, 64, 135);
}

.btn.shadow:active {
    box-shadow: none;
}